//Styling the content
.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }

    &__sidebar {
        background-color: var(--color-grey-dark-1);
        flex: 0 0 18%; //No shrinking and not growing
        //Push footer to the bottom and controll pannel up
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__hotel-view {
        background-color: var(--color-white-1);
        flex: 1; //Occupaying all remaining space
    }
}