//Styling left navigation pannel
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    //Setting nice hover effect start
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .3rem;
        background-color: var(--color-primary);
        //transform-origin: bottom; We can set different start point for animation
        transform: scaleY(0);
        transition: var(--transform-transition);
    }

    &__item:hover::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item--active {
        background-color: var(--color-primary-light);
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }
    //Setting nice hover effect end

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: var(--z-index-value-1);
        display: flex;
        align-items: center;
    }

    &__icon {
        width: var(--icons-small-size);
        height: var(--icons-small-size);
        margin-right: 2rem;
        fill: currentColor;
    }
}